phpunit.xml
test/

vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Laravel default
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env.backup
.env
.phpunit.result.cache

npm-debug.log
yarn-error.log

# Composer
composer.lock
package-lock.json
yarn.lock

.git
.idea
.phpintel
sftp-config.json
.vscode
.php_cs
.php_cs.cache
