@media print {
    #work-content {
        >.timer {
            display: none;
        }
    }
}

.isPointer {
    cursor: pointer;
}

.work {
    .navbar {
        background-color: rgb(227, 242, 253);

        &.fixed-left {
            overflow: auto;
        }

        .dropdown-item,
        .dropdown-item {
            color: rgba(0, 0, 0, 1);

            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }

    .navbar-nav .navbar-nav {
        // padding-left: 15px;
    }

    .navbar-light {
        .navbar-nav {

            .nav-link {
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    .ctubanhang-container {
        //     height: 100vh;

        >.col-12 {
            @include v-space;
        }

        .ctubanhang-content {
            max-height: 35vh;
            overflow: auto;
        }

        tr {
            &.selected {
                font-weight: bolder;
            }
        }
    }

    // .ctubanhang-content {
    //     min-height: 40vh;
    //     max-height: 40vh;
    //     overflow: auto;
    // }

    .ctubanhangvt-container {
        // @include v-space;
    }
}
